.goodsDetail_page {
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px;
    background-color: #fafafa;
    .pay_btn {
        --background-color: #4a4a4a;
        color: #fff;
    }
}